* {
    background-color: black;
}

.believer {
    position: relative;
    width: 120px;
    height: 290px;
    margin: 0 auto;
}

.believer:before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50px;
    width: 30px;
    height: 30px;
    background: #2a9d8f;
    border-radius: 50%;
    animation: loading-bounce 0.5s ease-in-out infinite alternate;    
}

.believer:after {
    content: "";
    position: absolute;
    width: 45px;
    height: 7px;
    right: 0;
    top: 200px;
    border-radius: 4px;
    animation: loading-step 1s ease-in-out infinite;
    box-shadow: 0 5px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 95px 0 #f2f2f2;
}

@keyframes loading-bounce {
    0% {
        transform: scale(1, 0.7);
    }
    40% {
        transform: scale(0.8, 1.2);
    }
    60% {
        transform: scale(1, 1);
    }
    100% {
        bottom: 140px;
    }
}

@keyframes loading-step {
    0% {
        box-shadow: 0 10px 0 rgba(0, 0, 0, 0), 0 10px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 90px 0 #f2f2f2;
    }
    100% {
        box-shadow: 0 10px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 90px 0 rgba(0, 0, 0, 0);
    }
}